@tailwind base;
@tailwind components;
@tailwind utilities;

@import "icon";

* {
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  font-size: .6vw;

  @media (min-width: 768px) {
    font-size: .66vw;
  }

  @media (min-width: 1280px) {
    font-size: .55vw;
  }
}

.korean {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

html, body, #app {
  height: 100%;
  overflow: hidden;
}

/*body {
  height: calc(100% + 28px);
  padding-top: 14px;
  padding-bottom: 14px;
  background: black;

  @media (min-width: 768px) {
    height: 100%;
    padding: 0;
  }
}*/

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-black {
  background-color: rgb(0, 5, 0);
}

.text-outline-1 {
  text-shadow: -1px -1px 0 rgba(255, 255, 255, .8),
  1px -1px 0 rgba(255, 255, 255, .8),
  -1px 1px 0 rgba(255, 255, 255, .8),
  1px 1px 0 rgba(255, 255, 255, .8);
}

.text-outline-2 {
  text-shadow: -2px -2px 0 rgba(255, 255, 255, .8),
  2px -2px 0 rgba(255, 255, 255, .8),
  -2px 2px 0 rgba(255, 255, 255, .8),
  2px 2px 0 rgba(255, 255, 255, .8);
}